
# Exclude everything except texty files.
# --------------------------------------

# uncomment these, and run git status -u to track down unwanted filetypes:
# *.css
# *.md
# *.php
# *.sh
# *.tex
# **/DokuWiki/*
# *.txt

# these locate the non-texty files that I want to ignore:
**/Browsing/Firefox/profile/**
**/OpenOffice/**
HW/Storage/*
*.apk
*.avi
*.bin
*.conf
**/concrete5/bootstrap.css
*.eml
*.exe
*.gif
*.htm
*.html
# !**/dw2pdf/*.html
*.ico
*.jpeg
*.jpg
*knoppix-autoconfig*
*.log
*.lnk
*.mht
*.mp3
*.mp4
*.odg
*.ods
*.odt
*.ogg
**/dw2pdf/action.php
*.pdf
*.pl
*.png
*.ps
*.py
*.svg
*.xml
*.vbs
*.zip
